/* PINK */
$primary: #FF8DB4;
$primary-light: #FFDEE9;
$primary-dark: #FF4081;

/* GREEN */
$secondary: #8DE6C7;
$secondary-light: #D8F6EC;
$secondary-dark: #31C2A0;

/* YELLOW */
$tertiary: #FFD794;
$tertiary-light: #FFF0D7;
$tertiary-dark: #FFC260;

/* BLUE */
$quaternary: #9AA9FF;
$quaternary-light: #DDE2FF;
$quaternary-dark: #536DFE;

/* FONTS */
$font-family: 'Roboto', sans-serif;
$font-size: 10px;
$text-color: #333366;
$text-color-light: #9999B2;

/* BACKGROUNDS */
$background-body: #EBEBF7;
$background-page: #F6F7FB;

/* BORDERS */
$border-color: #EFF5FE;
$border-radius: 50px;
$border-radius-mini: 5px;
$border-radius-small: 15px;
$border-radius-large: 60px;

/* BOX */
$shadow-color: #EEF2F7;
$shadow-color-dark: rgb(0,0,0, .1);

/* OTHERS */
$white: #FFFFFF;
$success: #16DBCC;
$error: #FF6666;
